@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Stardom';
        src: url('/fonts/Stardom-Regular.woff2') format('woff2'),
            url('/fonts/Stardom-Regular.woff') format('woff'),
            url('/fonts/Stardom-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    .picture-frame{
        border-radius: 88% 12% 78% 22% / 26% 77% 23% 74%;
    }

    .artist-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
